<div class="container mt-3">
  
  @if (artworkDetail()) {
    <div class="main-info">
      <h1 class="title"><strong>Artwork:</strong> {{ artworkDetail().title }}</h1>

      <button mat-raised-button (click)="backHome()">
        Back
      </button>
    </div>

    <mat-accordion>
      <mat-expansion-panel [expanded]="showAllDetails()">
        <mat-expansion-panel-header>
          <mat-panel-title>See artwork details</mat-panel-title>
        </mat-expansion-panel-header>

        <p><strong>Identifier:</strong> {{ artworkDetail().id }}</p>
        <p><strong>Creation date:</strong> {{ artworkDetail().creation_date }}</p>
        <p><strong>Technique:</strong> {{ artworkDetail().technique }}</p>
        <p><strong>Measurements:</strong> {{ artworkDetail().measurements }}</p>

        <p><strong>Creators:</strong></p>
        @if (artworkDetail().creators?.length) {
          <ul>
            @for (creator of artworkDetail().creators; track $index) {
              <li>{{ creator.description }}</li>
            }
          </ul>
        } @else {
          <p>Creator is not currently available.</p>
        }

        <hr />

        <p><strong>Artwork Image</strong></p>
        @if (artworkDetail().images?.web?.url) {
          <img
            class="img-fluid rounded mt-2"
            [src]="artworkDetail().images?.web?.url"
            [alt]="artworkDetail().title"
            loading="defer"
          />
        } @else {
          <p>Image is not available at the moment.</p>
        }
      </mat-expansion-panel>
    </mat-accordion>
  }
</div>