<div class="container">
  <div class="header">
    <h1>Artworks</h1>
    <div class="view-switch">
      <button mat-raised-button (click)="setCardsView()">
        <mat-icon>view_module</mat-icon>
        Cards
      </button>

      <button mat-raised-button (click)="setTableView()">
        <mat-icon>table_rows</mat-icon>
        Tabla
      </button>
    </div>
  </div>

   @if (isLoading()) {
    <div>
      <mat-spinner diameter="100"></mat-spinner>
    </div>
  }

    @if (viewMode() === 'cards') {
        <div class="cards">
          @for (artwork of artworks(); track artwork.id) {
            <app-artwork-card [artwork]="artwork"></app-artwork-card>
          }
        </div>
      } @else {
        <app-artwork-grid [artworks]="artworks()"></app-artwork-grid>
      }
</div>
